[submodule "cmaki"]
	path = cmaki
	url = https://github.com/makiolo/cmaki.git
[submodule "asyncply"]
	path = asyncply
	url = https://github.com/makiolo/async-ply.git
[submodule "verypoco"]
	path = verypoco
	url = https://github.com/makiolo/verypoco.git
